<div class="authContainer_Div">

  <h1 class="center">Join Stubud</h1>
  <h3 class="center greyText">Get student discounts on all your favorite brands</h3>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="inputWrapper_Div">
      <label class="inputLabel_Lbl required" for="emailInput_In">Email</label>
      <input class="authInput" id="emailInput_In" formControlName="emailFormC" type="text"
        placeholder="Your personal Email Address" />
      <div *ngIf="isFormSubmitted && formContRef.emailFormC?.errors" class="validations_Div">
        <p *ngIf="formContRef.emailFormC?.errors?.required">Email is required</p>
        <p *ngIf="formContRef.emailFormC?.errors?.email">Email must be a valid email address</p>
      </div>
    </div>

    <div class="inputWrapper_Div">
      <label class="inputLabel_Lbl required" for="pass_In">Password</label>
      <input class="authInput" id="pass_In" formControlName="pas
        sFormC" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password" formControlName="passFormC" />
      <fa-icon class="faIcons_Comp button" [icon]="isPasswordVisible ? faEye : faEyeSlash" size="1x"
        (click)="showPassword()">
      </fa-icon>
      <div *ngIf="isFormSubmitted && formContRef.passFormC?.errors" class="validations_Div">
        <p *ngIf="formContRef.passFormC?.errors?.required">Password is required</p>
        <p *ngIf="formContRef.passFormC?.errors?.minlength">Password must be at least 8 characters</p>
      </div>
    </div>

    <div class="inputWrapper_Div">
      <label class="inputLabel_Lbl required" for="passCon_In">Confirm Password</label>
      <input class="authInput" id="passCon_In" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Confirm"
        formControlName="passConFormC" />
      <div *ngIf="isFormSubmitted && (formContRef.passConFormC?.errors || formGroup?.errors?.passwordMismatch)"
        class="validations_Div">
        <p *ngIf="formContRef.passConFormC?.errors?.required">Confirm your password</p>
        <p *ngIf="formGroup?.errors?.passwordMismatch">Passwords must match</p>
      </div>
    </div>
    <div class="inputWrapper_Div">
      <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [useGlobalDomain]="false" formControlName="recaptcha">
      </ngx-recaptcha2>
      <div *ngIf="isFormSubmitted && formContRef.recaptcha?.errors" class="validations_Div">
        <p *ngIf="formContRef.recaptcha?.errors?.required">Fill in captcha</p>
      </div>
    </div>

    <app-stubud-button id="createAccSubmit_Comp" [expand]="true" [buttonType]="'submit'">Create Account
    </app-stubud-button>
  </form>

  <div *ngIf="isFormSubmitted" class="validations_Div">
    <p *ngIf="!!errorMessage">{{errorMessage}}<br> For any support, use this <a
        href="mailto:services@stubud.com?subject=Support&body={{errorMessage}}">link</a> to contact and send us your
      error. We will get back to your as soon as possible.
    </p>
  </div>
  <p class="agreementText_Par center greyText">By joining, you agree to the <a>Terms</a> and <a>Privacy
      Policy</a>.</p>
  <p class="alternativeSignUp_Par center">Or sign up using</p>
  <app-social-login></app-social-login><!-- Social Sign in -->
  <p class="center">Already have an account? <a routerLink="/auth/login" class="stuBleu underline button">Login</a></p>
</div>