.toggleHeart_In {
  display: none;
}

.heart_Lbl {
  display: block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toggleHeart_In + .heart_Lbl {
  background-size: contain;
  transition: all 0.2s ease-in-out;
}

.toggleHeart_In:hover + .heart_Lbl {
  background-image: url("../../../assets/img/unlike.png");
  transform: scale(1.1);
}

/* .toggleHeart_In:checked + .heart_Lbl {
    
    transform: scale(1);
} */

.liked {
  background-image: url("../../../assets/img/like.png");
}

.unLiked {
  background-image: url("../../../assets/img/unlike.png");
}
