<header>
  <a routerLink="" title="Stubud">
    <img class="stuBudLogo" src="../../../assets/img/logo.png" alt="Stubud" loading="lazy" />
  </a>

</header>
<hr>
<div class="authContainer_Div">

  <img class="lock_img" src="../../../assets/img/changePassLock.jpg" alt="Change Password Lock" loading="lazy" />
  <h1 class="center">Change Password</h1>
  <h3 class="center greyText">Please enter your email address below and we will send you instructions to change your
    password.</h3>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="inputWrapper_Div">
      <label class="inputLabel_Lbl required" for="emailInput_In">Email</label>
      <input id="emailInput_In" formControlName="emailFormC" type="text" placeholder="Your personal Email Address" />
      <div *ngIf="isFormSubmitted && formContRef.emailFormC?.errors" class="validations_Div">
        <p *ngIf="formContRef.emailFormC?.errors?.required">Email is required</p>
        <p *ngIf="formContRef.emailFormC?.errors?.email">Email must be a valid email address</p>
      </div>
    </div>
    <app-stubud-button id="signInSubmit_Comp" [expand]="true" [buttonType]="'submit'">Reset</app-stubud-button>
  </form>

  <div *ngIf="isFormSubmitted" class="validations_Div">
    <p *ngIf="!!errorMessage">{{errorMessage}}<br> For any support, use this <a
        href="mailto:services@stubud.com?subject=Support&body={{errorMessage}}">link</a> to contact and send us your
      error. We will get back to your as soon as possible.
    </p>
  </div>

</div>