<header>
  <a routerLink="" title="Stubud">
    <img class="stuBudLogo" src="../../../assets/img/logo.png" alt="Stubud" loading="lazy" />
  </a>

</header>
<hr>
<div *ngIf="canResetPassword" class="authContainer_Div">

  <img class="lock_img" src="../../../assets/img/changePassLock.jpg" alt="Change Password Lock" loading="lazy" />
  <h1 class="center">Reset Password</h1>
  <h3 class="center greyText">Fill in your new password.</h3>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">

    <div class="inputWrapper_Div">
      <label class="inputLabel_Lbl required" for="pass_In">New Password</label>
      <input class="authInput" id="pass_In" formControlName="pas
          sFormC" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password"
        formControlName="passFormC" />
      <fa-icon class="faIcons_Comp button" [icon]="isPasswordVisible ? faEye : faEyeSlash" size="1x"
        (click)="showPassword()">
      </fa-icon>
      <div *ngIf="isFormSubmitted && formContRef.passFormC?.errors" class="validations_Div">
        <p *ngIf="formContRef.passFormC?.errors?.required">Password is required</p>
        <p *ngIf="formContRef.passFormC?.errors?.minlength">Password must be at least 8 characters</p>
      </div>
    </div>

    <div class="inputWrapper_Div">
      <label class="inputLabel_Lbl required" for="passCon_In">Confirm New Password</label>
      <input class="authInput" id="passCon_In" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Confirm"
        formControlName="passConFormC" />
      <div *ngIf="isFormSubmitted && (formContRef.passConFormC?.errors || formGroup?.errors?.passwordMismatch)"
        class="validations_Div">
        <p *ngIf="formContRef.passConFormC?.errors?.required">Confirm your password</p>
        <p *ngIf="formGroup?.errors?.passwordMismatch">Passwords must match</p>
      </div>
    </div>
    <app-stubud-button id="signInSubmit_Comp" [expand]="true" [buttonType]="'submit'">Reset</app-stubud-button>
  </form>

  <div *ngIf="isFormSubmitted" class="validations_Div">
    <p *ngIf="!!errorMessage">{{errorMessage}}<br> For any support, use this <a
        href="mailto:services@stubud.com?subject=Support&body={{errorMessage}}">link</a> to contact and send us your
      error. We will get back to your as soon as possible.
    </p>
  </div>

</div>